*
{
	margin: 0;
	padding: 0;
}
header
{
	background-image: url(pic1.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
}
.main-nav
{
	float: right;
	list-style: none;
	margin-top: 30px;
}
.main-nav li
{
	display: inline-block;
}
.main-nav li a
{
	color: white;
	text-decoration: none;
	padding: 5px 20px;
	font-family: "Roboto", sans-serif;
	font-size: 15px;
}
.main-nav li.active a
{
	border: 1px solid white;
}
.main-nav li a:hover
{
	border: 1px solid white;
}
.logo img
{
	width: 150px;
	height: auto;
	float: left;
}
body
{
	font-family: monospace;
}
.hero{
	position: absolute;
	width: 1400px;
	margin-left: 0px;
	margin-top: 0px;
}
h1
{
	color: white;
	font-size: 45px;
	text-align: center;
	margin-top: 275px;
}
.hero li
{
	display: inline-block;
}
.hero li a
{
	color: white;
	text-decoration: none;
	padding: 5px 20px;
	font-family: "Roboto", sans-serif;
	font-size: 15px;
}
.hero li a:hover
{
	border: 1px solid white;
}
.hero p
{
	color: white;
	font-size: 12px;
}